DOMAIN_NAME=corpuslab.fic.udc.es

POSTGRES_DB=corpuslab_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

JWT_SECRET=secret-key-for-jwt-token-generation

JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false
JPA_DDL_AUTO=update
TRUST_FORWARDED_HEADERS=true

APP_MAIL_FROM=corpuslab.app@udc.es
MAIL_HOST=smtp.udc.es
MAIL_PORT=587
MAIL_USERNAME=corpuslab.app@udc.es
MAIL_PASSWORD=password
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
MAIL_SMTP_STARTTLS_REQUIRED=true
MAIL_SMTP_SSL_TRUST=smtp.udc.es
MAIL_DEBUG=false

GOOGLE_CLIENT_ID=client-id-for-google-oauth2
GOOGLE_CLIENT_SECRET=client-secret-for-google-oauth2

GITHUB_CLIENT_ID=client-id-for-github-oauth2
GITHUB_CLIENT_SECRET=client-secret-for-github-oauth2

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
